* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  /* background: linear-gradient(0.25turn, #1d96f2, #cae2e6, #36509c); */
  background: linear-gradient(0.25turn, #0b85b5, #cae2e6, #36509c);
}

#browsepage,
#searchpage {
  text-align: center;
}
